.App {
  text-align: center;
}

.App-header {
  background-color: lightgray;
  min-height: 10vh;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.App-footer {
  background-color: lightgray;
  min-height: 10vh;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

ul{
  display: inline;
}

ul li{
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

.proj-table{
  margin: 20px auto;
  border: 1px solid black;
  width: 50%;
}
 .proj-table td{
   border: 1px solid black;
   padding: 2em;
 }

form{
  width: 20%;
  margin:auto;
}

 form div {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}