.App {
  text-align: center;
}

.App-header {
  background-color: lightgray;
  min-height: 10vh;
  text-align: left;
}

.App-footer {
  background-color: lightgray;
  min-height: 10vh;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

ul{
  display: inline;
}

ul li{
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

.Sort-button{
  
}